.git
backend/node_modules
update-server
extractor/venv
extractor/__pycache__
extractor/logs
extractor/test.pdf
*.md
*.log
*.bak*
*.dump
backups
nssm
render.yaml
scripts
backend/.env
*token*.txt
*secret*.txt
*.pem
*.key
